
@{
    ViewBag.Title = "about";
}

<div class="container">
    <p><h1>HAKKIMIZDA</h1></p>
    <p><h4>Bu site İnternet Programcılığı Dersi Ödevi için yapılmıştır.</h4></p>
</div>

<br>
<br>
<br>
<br>
<br>

<div class="container">
    <p><h1>İletişim Bilgileri</h1></p>
    <p><h3>Ahmet Berk Kılıç</h3></p>
</div>

