@model IEnumerable<E_Ticaret.Models.Product>
@{
    ViewBag.Title = "productdetails";
}

<h2>Ürün Detay</h2>
<table class="table">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md-5 img-responsive">
                
            </div>

            <div class="col-md-6">
                <div class="row px-5">
                    <h1><b> </b></h1>
                    <p><h2>Ürün Özellikleri</h2></p>
                    <div class="row px-4">
                        <h3> </h3>
                    </div>
                    <p><h3>Ürün Açıklaması</h3></p>
                    <div class="row px-4">
                        <h3> </h3>
                    </div>

                </div>
            </div>

            <div class="row col-md-5 mt-5" style="max-width:100%;height: auto; ">
                <h2><b>Satıcı Bilgileri</b></h2>
                <h3>Bilgi Teknoloji</h3>
            </div>
        </div>
    </div>

   
